<div
  data-caption="{{ caption }}"
  data-embed-button="media_entity_embed"
  data-entity-embed-display="view_mode:{{ entity_type }}.{{ view_mode }}"
  data-entity-type="{{ entity_type }}"
  data-entity-uuid="{{ uuid }}"
  draggable="true"
  class="cke-placeholder-draggable"
  ondragstart="ckePlaceholder.dragStartEntityEmbed(event, 'ee')"
>Ballade</div>
